	html, body
			{
				background-color: #86c6ed;
				padding: 0;
				margin: 0;
				font-family:Garamond; 
			}
			#layout 
			{
				width: 1260px;
				margin: 30px auto;
				padding: 0 30px; 
				
			}
			header{
				 background: linear-gradient(to right bottom, #217bb4, #005e97);
				height: 100px;

			}
			.lnks{
				color: black;
				text-decoration: none;
				margin-right: 30px;
			}
			a:hover{

				border-bottom: 1px dotted rgb(52, 85, 124); 
				color: rgb(252, 85, 124);
			}
			#phonenum{
				float:right;
				font-weight: inherit;
				font-size: 17px;
				color: #bec9d0;
				font-family: Garamond;
			}
			#face{
				border-radius: 100px;
			}
			/*#callme{
				float:right;
				font-weight: bold;
				font-size: 16px;
				border: 1px solid #0070cf;
				padding: 12px 40px 10px;
				margin-left: 30px;
				color:#0070cf;
				background-color: #adebea;
			} */
			#contact_cont{
				float: right;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 100%;
			}
			.fixed-width{: 
				width: 1230px;
				margin: 0 auto 0;
				padding: 0 30px; 
				height: 100%;
			}
			.block{
				color: #fff;
				font-family: Courier New;
				font-size: 40px;
				 margin: 0;
				 height:360px;
				 width: 100%;
				 background: radial-gradient(#6a97ce, #6671b2); 
				 display: flex;
 				 align-items: center;
  		         justify-content: center;
  		         flex-direction: column;
			}
			.nextblock{
				color: #fff;
				font-family: Courier;
				font-size: 20px;
				 margin: 0;
				 height:360px;
				 width: 100%;
				 background: radial-gradient(#217bb4, #005e97);  
				 display: flex;
 				 align-items: center;
  		         justify-content: center;
  		         flex-direction: column;
			}
			#snow{
				margin: 0;
				color: #fff;
				font-family: Courier;
				font-size: 15px;
			}
			#end{
				margin: 0;
				color: #fff;
				font-family: Garamond;
				font-size: 13px;
				text-align: center;
			}
			nav{
				height: 100%;
				float: left;
				display: flex;
				align-items: center;
			}
			table {
				font-family: Garamond;
				margin-bottom: 44px;
 			    width: 100%;
			    border-collapse: collapse;
			}
			th,td {
			  vertical-align: middle;
			  border: 2px solid #000;
			  padding: 20px 30px;

			}
			thead, tfoot {
			  text-align: left;
			  background: linear-gradient(to right, #6671b2, #217bb4); 
			  color: #adebea;
			}
			tbody tr:nth-child(even) {
			  background: #ebe8a9;
			  color: #0070cf;
			}
			tbody tr:nth-child(odd) {
			  background: #ebef8f;
			  color: #95588D;
			}
